/* style.css */

body {
    background-color: goldenrod;
}

#title {
    font-family: Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

li {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 24px;

}